.column-layout {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 1200px) minmax(40px, 1fr);

    >* {
        grid-column: 2;
    }

    .full-width {
        grid-column: 1/-1;
    }

    .subgrid {
        display: grid;
        grid-template-columns: subgrid;

        >* {
            grid-column: 2;
        }
    }

    @include for-tablet {
        grid-template-columns: minmax(24px, 1fr) minmax(auto, 800px) minmax(24px, 1fr);
    }

    @include for-mobile {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 600px) minmax(16px, 1fr);
    }
}

.hmf-vertical-layout {
    display: grid;
    grid-template-rows: auto 1fr auto
}